extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Общие элементы';
    - var pageClass = 'body--dashboard';

block content

    +section__title("Новые записи в блоге") 
    +black-label("Путешествия")
    +avatar("avatar.jpg")
    +avatar--mini("avatar.jpg")
