extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Карточка проекта - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Карточка проекта

    //- Демонстрация компонента
    .ui-kit__component-demo
        +card-project("HTML, CSS, wordpress", "01.jpg", "Архитектурное бюро John Doe и партнеры. Сайт под ключ", link="#")

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +card-project(badgeText, img, title, link="#")

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/card-project.pug
        
    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin card-project(badgeText, img, title, link="#")
                .card-project
                    .card-project__subtitle #{badgeText}
                    a(href= link).card-project__img
                        img(src="../img/cards/project-card/" + img, alt="project-card-img-01")
                    .card-project__title
                        .card-project__title-item
                            a(href= link) #{title}
                    