extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Карточка с постом - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Карточка с постом

    //- Демонстрация компонента
    .ui-kit__component-demo
        +card-post("02.jpg", "02.jpg", "Как я встретил старого друга в NY и чем это закончилось")

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +card-post("02.jpg", "02.jpg", "Как я встретил старого друга в NY и чем это закончилось")

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/card-post.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin card-post(img, title_img, text, link="#")
                .card-post
                    a(href= link).card-post__img
                        img(src="../img/cards/card-post/" + img, alt= title_img)
                    a(href= link).card-post__text&attribute(attribute) #{text}
