extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Инпуты - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Инпуты

    //- Демонстрация компонента
    .ui-kit__component-demo
        +input('name', 'Введите название записи', 'Заголовок поста')
    .ui-kit__component-demo
        +input('name', 'Ваше имя')
        

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +input('name', 'Введите название записи', 'Заголовок поста')
            +input('name', 'Ваше имя')

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/inputs.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin input(name, text, title)
                form.input-form
                    label(for="form-title")
                        if item = title
                            h3.input-title&attributes(attributes)
                    input(type="text" placeholder= text class="input-text" id="form-title" name= name)
                