extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Пост';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Пост

    //- Демонстрация компонента
    .ui-kit__component-demo
        +post("./../img/post-photo-01.jpg")
            p Парк находится в горах Сьерра-Невада на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов.
            p Центром парка является долина Йосемити, круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. Если, на ваше счастье, медведей вы скорее всего не увидите, то оленей или бурундуков увидите почти гарантированно, даже не обладая специальными навыками.

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +post("./../img/post-photo-01.jpg")

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/post.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin post(title, desc, filePath="./../img/post-photo-01.jpg")
                .post
                    img.post__img(src= filePath, alt="Национальный парк Йосемити")
                    .post__text
                        block
