footer.footer-wrapper
    .container
        .footer-row
            .footer-wrapper-text
                p © Юрий Ключевский
                p Создано в WebCademy.ru в 2020 году
            .footer-wrapper-link
                +footer-svg-youtube()
                +footer-svg-instagram()
                +footer-svg-facebook()
                +footer-svg-vk()
                +footer-svg-in()
                +footer-svg-github()
                





