header.header-inside.header
    +header-info('Digital Nomad', 'cайт IT специалиста')
    -
        var links = [
                //- {name: "Главная", link: "index.html"},
                {name: "Обо мне", link: "page-about-me.html"},
                {name: "Портфолио", link: "portfolio.html"},
                {name: "Блог", link: "blog.html"},
                {name: "Магазин", link: "shop.html"},
                {name: "Контакты", link: "contacts.html"}
            ]
    +header-menu(links)
