header.header
    +header-info('Digital Nomad', 'веб-разработчик, ui/ux дизайнер')
    -
        var links = [
                {name: "Главная", link: "main.html"},
                {name: "Портфолио", link: "portfolio.html"},
                {name: "Блог", link: "blog.html"},
                {name: "Магазин", link: "shop.html"},
                {name: "Контакты", link: "contacts.html"}
            ]
    +header-menu(links)
    