.header
    +header-info('Digital Nomad', 'веб-разработчик, ui/ux дизайнер')
    -
        var links = [
                {name: "Главная", link: "index.html", cssClass: "header-nav_item"},
                {name: "Портфолио", link: "portfolio.html", cssClass: "header-nav_item"},
                {name: "Контакты", link: "contacts.html", cssClass: "header-nav_item"},
            ]
    +header-menu(links)
    