section.log-register
    .log-register-container
        .log-register-text
            p #[a(href="#" class="log-register-text__link") Войдите] или #[a(href="#" class="log-register-text__link") зарегистрируйтесь]
            p чтобы оставить комментарий
            