sections.login-form
    form.login-form-wrapper
        h2.login-form-wrapper__title Вход на сайт
        .login-form-wrapper__buttons
            input(type="text" placeholder="Email" class="login-form-input")
            input(type="text" placeholder="Пароль" class="login-form-input")
            button(class="login-form-button") Вход на сайт
        .login-form-wrapper__link
            .login-form-wrapper__link-item
                a(href="#") Забыл пароль
            .login-form-wrapper__link-item
                a(href="#") Регистрация
