section.pagination
    .pagination-wrap-item
        +pagination-button("назад")
    .pagination-wrap-item.pagination-wrap-item--active
        +pagination-button("1")
    .pagination-wrap-item
        +pagination-button("2")
    .pagination-wrap-item
        +pagination-button("3")
    .pagination-wrap-item
        +pagination-button("вперед")
