.main
    h1 Content

    //- --------------Для примера; удалить
    h2.section__title Новые записи в блоге
    .label-card_black Путешествия
    .avatar
        img(src="./img/avatars/avatar.jpg" alt="avatar")
    .avatar.avatar_mini
        img(src="./img/avatars/avatar.jpg" alt="avatar")
    //- - ------------Для примера; удалить-----//