.section-about-me
    .container
        .section-about-me__row
            .section-about-me__img-wrapper
                img.section-about-me__img(src="./../img/section-about-me.jpg", alt="Обо мне")
            .section-about-me__right-column
                h4.section-about-me__title обо мне
                p.section-about-me__text Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. Чуть позже я обновлю в нём свой контент. А пока посмотрите, как тут всё классно!
                h4.section-about-me__title чем могу быть полезен
                ul.section-about-me__list 
                    li Верстка сайтов
                    li Frontend
                    li UI/UX дизайн
