.about-me {
  padding: 60px 150px;
  width: 100%;
  background-color: #f5f7fa;
}

.about-me-row{
  display: flex;
}

.about-me-resume {
  margin-right: 45px;
  max-width: 540px;
}

.about-me-resume__title {
  margin: 0 !important;
  margin-bottom: 15px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  font-size: 13px !important;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.about-me-resume__text p {
  max-width: 100%;
  margin: 0 !important;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 170% !important;
  color: #000000;
}

.about-me-direction {
  max-width: 520px;
}

.about-me-direction__title {
  max-width: 100%;
  margin: 0 !important;
  margin-bottom: 15px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  font-size: 13px !important;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.about-me-direction__list {
  ul {
    margin-bottom: 0;
  }

  li {
    position: inherit;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    color: #000000;
    list-style-type: initial;
    margin-bottom: 5px;
  }
}
