.admin-panel {
  position: relative;
  padding: 15px 50px;
  width: 100%;
  background-color: #000000;
}

.admin-panel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.admin-panel-nav {
  display: flex;
  align-items: center;
  color: white;
}

.admin-panel-nav__link {
  display: flex;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  fill: white;
  stroke: white;
  margin-right: 40px;
  transition: 0.3s ease-in;

  &:nth-child(5) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: #ffc800;
    stroke: #ffc800;
  }
}

.admin-panel-nav__link-svg {
  position: relative;
  margin-right: 15px;
}

.admin-panel-nav__link-svg--messages {
  &::after {
    content: attr(data-line);
    position: absolute;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    background-color: #c90000;
    border-radius: 50%;
    transform: translate(-10px, -10px);
  }
}

.admin-panel-nav__link-svg--comment {
  &::after {
    position: absolute;
    content: attr(data-line);
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    background-color: #c90000;
    border-radius: 50%;
    transform: translate(-10px, -10px);
  }
}

.admin-panel-nav__link--grey {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0;
}
