.card-product {
  width: 350px;
  height: 410px;
  padding: 30px 30px 20px 30px;
  background-color: #ffffff;
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
}

.card-product__img img {
  margin-bottom: 20px;
  width: 290px;
  height: 230px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-product__title {
  font-family: Montserrat, sans-serif;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 120%;
  color: #000000;
  transition: .2s ease-in;

  &:hover {
    color: #000000;
  }
}

.card-product-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.card-product__price {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #7e9bbd;
  cursor: context-menu;
}

.card-product__button .watch-button{
  color: #7e9bbd;

  &:hover {
    color: #1647ed;
  }
}