.contacts {
  padding: 55px 0;
}

.contacts-raw {
  display: flex;
}

.contacts-raw-social {
  min-width: 540px;
  margin-right: 50px;
  padding-left: 20px;
}

.contacts-raw-social .section-title {
  margin-bottom: 25px;
}

.contacts-raw-social-item {
    margin-bottom: 10px;
  h4 {
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 170%;
    color: #000000;
  }

  a, span {
      font-weight: 400;
  }
}

.contacts-raw-form {
    width: 100%;
}
.contacts-raw-form .section-title {
    margin-bottom: 25px;
}

.contacts-raw-form .input-form {
    margin-bottom: 20px;
}

.contacts-raw-form .textarea {
    margin-bottom: 20px !important;
    height: 140px;
}

.contacts-raw-form .file-input-block {
    margin-bottom: 15px !important;
}