.footer {
  width: 600px;
  padding: 50px 25px;
  margin: 0 auto;
  background-color: rgb(20, 82, 93);
  text-align: center;
  color: #fff;

  @media (min-width: 992px) {
    width: 400px;
  }
}

.footer-wrapper {
  width: 100%;
  background-color: #131313;
  padding: 40px 0 125px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper-text p {
  margin-bottom: 9px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}

.footer-wrapper-link {
  display: flex;
  align-items: center;
}

.footer-wrapper-link-svg {
  display: inline-block;
  margin-right: 35px;
  transition: opacity 0.3s ease-in;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.9;
  }
}
