.form-comment {
  position: relative;
  display: flex;
  padding: 20px;
  background-color: #eaeff2;
  border-radius: 8px;
}

.form-comment-author {
  margin-right: 20px;
}

.form-comment-btn {
	display: block;
}

.form-comment-btn__textarea {
  margin-bottom: 15px;
  
  textarea {
    padding: 20px;
    width: 810px;
    height: 140px;
	border-radius: 6px;
	border: none;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    background-color: #ffffff;
    color: #7e9bbd;
	outline: none;
	overflow: auto;
	resize: none;

	&::placeholder {
		color: #7e9bbd;
		font-family: Montserrat, sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 130%;
	}
  }
}
