.header {
  width: 100%;
  padding: 50px 0 40px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
}

.header-inside {
    background-color: #EAEFF2;
}

.header-title {
  margin-bottom: 10px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 130%;
  color: #000000;
  transition: 0.2s;

  &:hover {
    color: inherit;
    text-decoration: none;
    text-shadow: 4px 3px 2px rgba(150, 150, 150, 1);
  }
}

.header-info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.header-nav_items {
  margin: 0;
  margin-top: 38px;
}

.header-nav_item {
  display: inline-block;
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }

  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
  transition: 0.2s ease-in;

  &:hover, &--active {
    color: #ff343d;
    text-decoration: none;
  }
}

.header-nav_item--active {
  color: #ff343d;
}
