.input-title {
    margin-bottom: 10px;
}

.input-title h3 {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 130%;
  color: #000000;
}

.input-text {
  width: 840px;
  padding: 13px 0px 13px 20px;
  background: #ffffff;
  border: 1px solid #7e9bbd;
  border-radius: 6px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}
