.page-shopping-cart {
    padding: 60px 0 90px;
    width: 100%;
}

.page-shopping-cart__row-gray {
    padding: 20px 190px;
    display: flex;
    background-color: #EAEFF2;
}

.page-shopping-cart__row {
    padding: 20px 74px 20px 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(126, 155, 189, 0.3);

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
}

.page-shopping-cart__img {
    width: 100px;
    height: 100px;
    margin-right: 60px;
}

.page-shopping-cart__title {
    display: block;
    margin-right: 65px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    /* identical to box height, or 16px */
    letter-spacing: 0.2em;
    text-transform: uppercase;

    &:nth-child(1) {margin-right: 226px;}
    &:nth-child(2) {margin-right: 70px;}
    &:nth-child(3) {margin-right: 0;}
}

.page-shopping-cart__name {
    width: 210px;
    margin-right: 182px;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    transition: 0.5s;

    a {
        display: inline-block;
        color: #000000;
    }

    a:hover {
        color: #000000;
        text-decoration: underline;
        transition: 0.5s;
    }
}

.page-shopping-cart__id {
    width: 120px;
    margin-right: 70px;
}

.page-shopping-cart__money {
    width: 140px;
    margin-right: 120px;
}

.page-shopping-cart__row-down {
    padding: 20px 74px 20px 0px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #EAEFF2;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
}

.page-shopping-cart__row-down .page-shopping-cart__money {margin-right: 130px;}

.page-shopping-cart__button {
    display: inline-block;
    margin-top: 20px;
    padding: 13px 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: #000000;
    border-radius: 6px;
    color: #fff;
    border: none;
    outline: none;
    transition: 0.4s ease-in;
    text-decoration: none;

    &:hover {
        background-color: #7e9bbd;
        text-decoration: none;
        color: white;
    }
    &:active,
    &:focus {
        background-color: #49525b;
        outline: none;
    }
}

//кнопка удалить (крестик) из списка товаров
.page-shopping-cart__delete {
    // margin: 5px;
    display: flex;
    justify-content: center;

    div {
        cursor: pointer;
        position: relative;  
        height: 12px;
        width: 12px; 
    }
}

.page-shopping-cart__delete .leftright {
    height: 2px;
    width: 15px;
    position: absolute;
    margin-top: 6px;
    background-color: #7E9BBD;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.page-shopping-cart__delete .rightleft {
    height: 2px;
    width: 15px;
    position: absolute;
    margin-top: 6px;
    background-color: #7E9BBD;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.page-shopping-cart__delete div:hover .leftright {
    transform: rotate(-45deg);
    background-color: #000;
}

.page-shopping-cart__delete div:hover .rightleft {
    transform: rotate(45deg);
    background-color: #000;
}
