.page-post__comments {
    margin: 0 auto;
    max-width: 920px;
}

.page-post__comments-title {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}

.page-post__comments-store {
    margin-bottom: 20px;
}

.page-post__pagination {
    margin: 0 auto;
    max-width: 920px;
}