.page-blog-post__comments-title {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.page-blog-post__comments-store {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 920px;
}
