.post-mixin__title {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 130%;
    /* or 36px */
    text-align: center;
    color: #000000;
}
.post-mixin__desc {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #687492;
    text-align: center;
}
.post-mixin__img {
    max-width: 1110px;
    // overflow: hidden;
    // object-fit: cover;
    // background-color: rgb(165, 149, 119);
    // box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
}
.post-mixin__text {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    /* or 31px */
    
    color: #000000;
}