.post {
    max-width: 1110px;
    padding-bottom: 20px;
}

.post__title {
    margin: 0px!important;
    margin-bottom: 20px!important;
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 130%;
    /* or 36px */
    text-align: center;
    color: #000000;
}

.post__desc {
    margin: 0px!important;
    margin-bottom: 40px!important;
    font-family: "Montserrat", sans-serif;
    font-weight: 400!important;
    font-size: 16px!important;
    line-height: 20px;
    color: #687492;
    text-align: center;
}

.post__img {
    max-width: 100%;
    margin-bottom: 40px;
    overflow: hidden;
    object-fit: cover;
    background-color: rgb(165, 149, 119);
    border-radius: 4px;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
}

.post__text {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px!important;

    font-family: "Playfair Display", serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    /* or 31px */
    color: #000000;
}

.post__text p:last-child {
    margin-bottom: 35px;
}
