.section-about-me {
    padding: 60px 0px;
    background-color: #F5F7FA;
    width: 100%;
}

.section-about-me__row {
    display: flex;
    justify-content: space-between;
}

.section-about-me__img-wrapper {
    max-width: 520px;
    max-height: 415px;
    overflow: hidden;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
    border-radius: 4px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: rgb(221, 212, 203);
    }
}

.section-about-me__right-column {
    max-width: 540px;
}

.section-about-me__title {
    margin: 0!important;
    margin-bottom: 15px!important;
    font-family: "Montserrat", sans-serif;
    font-weight: 700!important;
    font-size: 13px!important;
    line-height: 120%;
    /* identical to box height, or 16px */
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.section-about-me__text {
    margin: 0!important;
    margin-bottom: 30px!important;

    font-family: "Playfair Display", serif;
    font-weight: 400!important;
    font-size: 18px!important;
    line-height: 170%!important;
    /* or 31px */
}

.section-about-me__list {
    padding: 0 0 0 20px;
    margin: 0px!important;
    list-style-type: disc!important;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    /* or 33px */

    li {
        margin-bottom: 0px!important; 
    }

    li::before {
        display: none!important;
    }
} 
