.shop {
  position: relative;
  padding: 60px 0 90px;
}

.shop .text-center {
  margin-bottom: 80px;
}

.shop-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.shop-cards .card-product {
  margin-bottom: 30px;
  margin-right: 30px;

  &:nth-child(3n + 3) {
    margin-right: 0;
  }
}
