mixin about-me-direction()
    .about-me-direction
        h3.about-me-direction__title направления, которыми я занимаюсь
        .about-me-direction__list
            ul
                block

mixin about-me-resume()
    .about-me-resume
        h3.about-me-resume__title обо мне
        .about-me-resume__text
            block
        
mixin about-me-direction-new(text)
    .about-me-direction
        h3.about-me-direction__title #{text}
        .about-me-direction__list
            ul
                block