mixin about-me-direction()
    .about-me-direction
        h3.about-me-direction__title направления, которыми я занимаюсь
        .about-me-direction__list
            ul
                li Верстка сайтов 
                li Frontend
                li UI/UX дизайн

mixin about-me-resume()
    .about-me-resume
        h3.about-me-resume__title обо мне
        .about-me-resume__text
            p| Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. Чуть позже я обновлю в нём свой контент. А пока посмотрите, как тут всё классно!      
                      