mixin avatar(pic, alt="avatar")
    .avatar
        img(src="../img/avatars/"+pic alt= alt)

mixin avatar-mini(pic, alt="mini avatar")
    .avatar.avatar--mini
        img(src="../img/avatars/"+pic alt= alt)