mixin primary-button(text)
    .primary-button
        button.primary-button-item #{text}          
mixin secondary-button(text)
    .secondary-button
        a.secondary-button-item #{text}             
mixin file-button(text)
    .file-button
        button.file-button-item #{text}           
mixin watch-button(text)             
    .watch-button
        a.watch-button-item #{text}