mixin cards-project(badgeText, img, title, link="#")
    .card-project
        .card-project__subtitle #{badgeText}
        a(href= link).card-project__img
            img(src="../img/Cards/project-card/" + img, alt="projectCardImg-1")
        .card-project__title
            .card-project__title-item
                a(href= link) #{title}
                