mixin card-product(img, link="!#", title, price)
    a(href= link class="card-product")
        .card-product__img
            img(src= img, alt="")
        .card-product__title #{title}
        .card-product-row
            .card-product__price 
                span #{price}
            .card-product__button
                .watch-button="Смотреть"
