mixin card-product(img, link, title, price)
    .card-product
        a(href= link).card-product__img
            img(src= img, alt="")
        a(href= link).card-product__title #{title}
        .card-product-row
            .card-product__price 
                span #{price}
            .card-product__button
                +watch-button("Смотреть")
