mixin header-info(name, text)
     .header-title #{name}
     .header-info #{text}
          nav.header-nav
               ul.header-nav_items
                    li.header-nav_item 
                          a(href="#") Обо мне
                    li.header-nav_item 
                         a(href="#") Портфолио
                    li.header-nav_item 
                         a(href="#") Блог
                    li.header-nav_item 
                         a(href="#") Контакты