mixin input(name, text, title)
    .input-form
        label(for="form-title")
            if item = title
                h3.input-title #{title}
            input(type="text" placeholder= text class="input-text" id="form-title" name= name)
