mixin input-with-title(title, text)
    .input-title
        h3 #{title}
    input(type="text" placeholder= text class="input-text")

mixin input-text(text)
    input(type="text" placeholder= text class="input-text")
