mixin section-about-me("./../img/section-about-me.jpg", title, title2)
    .section-about-me
        .container
            .section-about-me__row
                .section-about-me__img-wrapper
                    img.section-about-me__img(src= filePath, alt="Обо мне")
                .section-about-me__right-column
                    h4.section-about-me__title #{title}
                    .section-about-me__text 
                        block
                    h4.section-about-me__title #{title2}
                    +section-about-me__list([{text: "Верстка сайтов"}, {text: 'Frontend'}, {text: 'UI/UX дизайн'}])
