extends ../layouts/page-layout.pug

block variables
    - var title = 'Apple MacBook Air 13';
    - var pageClass= ""
    - var pageFileName= "shop.html";

block content
    include ../sections/admin-panel.pug
    include ../sections/header-inside.pug
    main
        .container
            //- Section description
            section.page-product
                .page-product__col
                    .page-product__img
                        img(src="./img/products/prod01.jpg" alt="air-13")
                .page-product__col
                    .page-product__title
                        +section-title("Apple MacBook Air 13")
                    .page-product__price 190 000 руб.
                    a.page-product__button.primary-button(href="page-shopping-card.html") В корзину
                    .page-product-text
                        p Новый MacBook Air — ещё более тонкий и лёгкий, оснащён дисплеем Retina, клавиатурой нового поколения, трекпадом Force Touch и технологией Touch ID, которая защищает ваши данные и открывает доступ к ним только вам.
                        p Это самый экологичный Mac. Для его корпуса используется только переработанный алюминий.1 И это невероятно удобный MacBook Air, который справится с любыми задачами.
                        p
                            a(href="!#") Подробнее об особенностях и преимуществах MacBook Air.

            //- Section cards
            section
                .page-product__section-title
                    +section-title("Смотрите также")
                .page-product__cards
                    +card-product("../img/cards/card-product/03.jpg", "#!", "Apple Mac Pro", "150 000 руб")
                    +card-product("../img/cards/card-product/04.jpg", "#!", "Apple Mac Pro", "190 000 руб.")
                    +card-product("../img/cards/card-product/01.jpg", "#!", "Apple iMac 27 Вторая линия названия", "95 000 руб.")

    include ../sections/footer.pug