extends ../layouts/page-layout.pug

block variables
    - var title = 'Apple MacBook Air 13';
    - var pageClass= ""
    - var pageFileName= "market.html";

block content
    include ../sections/admin-panel.pug
    include ../sections/header-inside.pug

    .container

    include ../sections/footer.pug