extends ../layouts/page-layout.pug

block variables
    - var title = 'Национальный парк Йосемити';
    - var pageClass= "";
    - var pageFileName= "blog.html";

block content
    include ../sections/admin-panel.pug
    include ../sections/header-inside.pug
    main
        .container

            //- Post inner content
            section.page-post
                .page-post__heading
                    +page-info("Национальный парк Йосемити", "16 Марта 2020", "Путешествия")
                .page-post__content
                    +post("./../img/post-photo-01.jpg")
                        p Парк находится в горах Сьерра-Невада на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов. 
                        p Центром парка является долина Йосемити, круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. Если, на ваше счастье, медведей вы скорее всего не увидите, то оленей или бурундуков увидите почти гарантированно, даже не обладая специальными навыками.
                .page-post__pagination
                    +post-pagination-button

                //- Post comments
                .page-post__comments
                    .page-post__comments-title
                        +section-title("4 комментария")
                    .page-post__comments-store
                        +comment("av1.jpg", "Джон До", "05 Мая 2017 года в 15:45")
                            p Всем привет! Эту страницу верстали поздно ночью.
                        +comment("av2.jpg", "Джейн Смитт", "05 Мая 2017 года в 15:46")
                            p Лучше ночью спать, иначе потом тяжко утром.
                        +comment("av1.jpg", "Джон До", "05 Мая 2017 года в 15:47")
                            p @Джейн Я не ищу лёгких путей. К нашему грызуну приходил ратолог: у неё забиты слёзные каналы, и мы протираем ей глаза хлогексидином. Ратолог осмотрел её, сказал: "Протирать глаза хлогексидином. С вас 2500 руб." Я верстал и думал об этом.
                        +comment("av2.jpg", "Джейн Смитт", "05 Мая 2017 года в 15:48")
                            p @Джон Что ж... Здоровья ей и хозяевам! 
                    .page-post__comments-title
                        +section-title("Оставить комментарий")
                    .page-post__comments-add
                        include ../sections/form-comment.pug
                    .page-post__comments-title
                        +section-title("Смотрите также")
                .page-post__recent-posts.page-main__section-blog
                    +card-post("10.jpg", "10.jpg", "Как устроена подземка в NY. Плюсы и минусы")
                    +card-post("11.jpg", "11.jpg", "Летние воспоминания. Трекинг поход по Кавказским горам")
                    +card-post("12.jpg", "12.jpg", "Купил дрон. Впечатления и фотосессия ")

    include ../sections/footer.pug
