extends ../layouts/page-layout.pug
include ./../mixins/*.pug

block variables
    - var title = 'Главная страница';
    - var pageClass= "";

block content
    header.header
        +header-info('Digital Nomad', 'веб-разработчик, ui/ux дизайнер') 
        -
            var links = [
                {name: "обо мне", link: "index.html"},
                {name: "Портфолио", link: "portfolio.html"},
                {name: "блог", link: "blog.html"},
                {name: "Контакты", link: "contacts.html"}
                ]
        +header-menu(links)
    main.page-portfolio-main
        include ../sections/section-about-me.pug
        .container
            .row
                .col-12.text-center
                    .status-wrapper
                        include ../sections/status.pug
                .col-12
                    .page-portfolio-main__new-projects
                        .page-portfolio-main__section-title
                            +section-title("Новые проекты в", "portfolio.html", "портфолио")
                        .new-projects
                            +card-project("HTML, CSS, wordpress", "01.jpg", "Архитектурное бюро John Doe и партнеры. Сайт под ключ", "#")
                            +card-project("HTML, CSS, JS, React", "02.jpg", "Сайт о спасении черепах и морской фауны. Верстка и frontend", "#")
                            +card-project("Figma, HTML, CSS, PHP", "03.jpg", "Квадрокоптер Phantom от Dji company. Сайт под ключ", "#")
                            +card-project("HTML, CSS, wordpress", "04.jpg", 'Верстка сайта для газеты “Вечерний Лондон”', "#")
                    .page-portfolio-main__new-blog
                        .page-portfolio-main__section-title
                            +section-title("Новые записи в", "portfolio.html", "блоге")
                        .new-blog
                            +card-post("02.jpg", "02.jpg", "Как я встретил старого друга в NY и чем это закончилось")
                            +card-post("01.jpg", "02.jpg", "Парусный спорт. 10 правил для начинающего")
                            +card-post("03.jpg", "02.jpg", "Мое рабочее место и аксессуары в 2020 году")
                          
    include ../sections/footer.pug
