.left-panel.blue-skin
    .left-panel__section
        .left-panel__logo UI-KIT и PUG фреймворк

    .left-panel__section
        .left-panel__title Документация
        .left-panel-nav
            +linkLeftPanel("Документация", "docs.html")
            +linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")
            +linkLeftPanel("Оформление кода", "docs-codestyle.html")
            +linkLeftPanel("Работа со стилями", "docs-styleguide.html")

    //- Тут будут ссылки на блоки
    .left-panel__section
        .left-panel__title Элементы форм
        .left-panel-nav
            +linkLeftPanel("Тестовая кнопка", "test-button.html")
            +linkLeftPanel("Кнопки", "buttons.html")
            +linkLeftPanel("Элемент select", "select.html")
            +linkLeftPanel("Вход или Регистрация", "log-register.html")
            +linkLeftPanel("Форма входа", "login-form.html")
            +linkLeftPanel("Секция статус", "status.html")
            +linkLeftPanel("Чекбоксы", "checkbox.html")
            +linkLeftPanel("Радиокнопки", "radio-button.html")
            +linkLeftPanel("Форма загрузки файла", "file-input.html")
            +linkLeftPanel("Поле с текстом", "textarea.html")
            +linkLeftPanel("Форма комментария", "form-comment.html")
            +linkLeftPanel("Инпуты", "input.html")

    //- Тут будут ссылки на блоки
    .left-panel__section
        .left-panel__title Блоки
        .left-panel-nav
            +linkLeftPanel("Секция 'Обо мне' в контактах ", "about-me.html")
            +linkLeftPanel("Карточка с постом", "card-post.html")
            +linkLeftPanel("Карточка проекта", "card-project.html")
            +linkLeftPanel("Карточка с товаром", "card-product.html")
            +linkLeftPanel("Админ панель", "admin-panel.html")
            +linkLeftPanel("Пагинация", "pagination.html")
            +linkLeftPanel("Заголовок", "headings.html")
            +linkLeftPanel("Черная плашка", "black-label.html")
            +linkLeftPanel("Аватарки", "avatars.html")
            +linkLeftPanel("Иконки с навыками", "icon-skills.html")
            +linkLeftPanel("Комментарии", "comment.html")
            +linkLeftPanel("Нотификация", "notify.html")
            +linkLeftPanel("Информация о странице", "page-info.html")
            +linkLeftPanel("Товар в корзине", "product-in-cart.html")

    //- Тут будут ссылки на секции
    .left-panel__section
        .left-panel__title Секции
        .left-panel-nav
            +linkLeftPanel('Секция "Обо мне"', "section-about-me.html")
            +linkLeftPanel("Секция статус", "status.html")
            +linkLeftPanel("Пост", "post.html")
            +linkLeftPanel("Таймлайн", "timeline.html")
            +linkLeftPanel("Шапка", "header.html")
            +linkLeftPanel("Подвал", "footer.html")

    //- Тут будут ссылки на страницы
    .left-panel__section
        .left-panel__title Страницы
        .left-panel-nav
            +linkLeftPanel("Портфолио", "../portfolio.html")
            +linkLeftPanel('Страница "Обо мне"', "../page-about-me.html")
            +linkLeftPanel("Главная страница", "./../main.html")
            +linkLeftPanel("Портфолио", "../portfolio.html")
            +linkLeftPanel("Контакты", "./../contacts.html")
            +linkLeftPanel("Блог", "./../blog.html")
            +linkLeftPanel("Магазин", "./../shop.html")
            +linkLeftPanel("Оформление заказа", "./../order-registration.html")
            +linkLeftPanel("Заказ оформлен", "./../order-placed.html")
            +linkLeftPanel("Блог пост", "./../blog-post.html")
            +linkLeftPanel("Страница проекта", "./../project-quantum.html")
            +linkLeftPanel("Корзина", "./../page-shopping-cart.html")
            +linkLeftPanel("Страница товара", "./../air-13.html")
            +linkLeftPanel("Выбор способа оплаты", "./../payment-method.html")
            +linkLeftPanel("Оплата через Яндекс.Деньги", "./../choice-payment.html")
