include ../mixins/about-me.pug
include ../mixins/avatar.pug
include ../mixins/black-label.pug
include ../mixins/buttons.pug
include ../mixins/card-post.pug
include ../mixins/card-project.pug
include ../mixins/checkbox.pug
include ../mixins/comment.pug
include ../mixins/file-input.pug
include ../mixins/footer-svg.pug
include ../mixins/header-info.pug
include ../mixins/header-menu.pug
include ../mixins/icon-skills.pug
include ../mixins/notify.pug
include ../mixins/post.pug
include ../mixins/radio-button.pug
include ../mixins/section-about-me.pug
include ../mixins/section-about-me__list.pug
include ../mixins/section-title.pug
include ../mixins/test-button.pug
include ../mixins/timeline.pug
include ../mixins/select.pug
include ../mixins/inputs.pug
include ../mixins/textarea.pug
include ../mixins/page-info.pug
include ../mixins/page-shopping-cart__row.pug
include ../mixins/card-product.pug
